<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
  <title>Simple layout</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="#"><img src="/images/main-logo/superdao-logo.svg" alt="Superdao"></a>
      <button><img src="/images/details/burger.svg" alt="Burger"></button>
      <nav class="header__nav">
        <ul>
          <li><a href="#">Product</a></li>
          <li><a href="#">Use cases</a></li>
          <li><a href="#">Learn</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Jobs</a></li>
        </ul>
      </nav>
      <button class="header__login-button">Login</button>
    </div>
  </header>
  <main>
    <section class="main__hero">
      <div class="container">
        <h1>The easiest way to start a DAO</h1>
        <p>An all-in-one platform to start, manage and grow a decentralized autonomous organization</p>
        <a href="#">Get started</a>
      </div>
    </section>
    <section class="main__ready-for">
      <h2>Ready for every project</h2>
      <ul class="ready-for__buttons">
        <li><a href="#">Investment DAO</a></li>
        <li><a href="#">Startup DAO</a></li>
        <li><a href="#">Service DAO</a></li>
        <li><a href="#">Community DAO</a></li>
        <li><a href="#">Impact DAO</a> </li>
        <li><a href="#">DeFi DAO</a></li>
        <li><button>More</button><!--some shit here--></li>
      </ul>
      <a href="#"><img src="images/collage.png" alt="Collage"></a>
      <a href="#">1000+ projects launched on Superdao</a>
    </section>
    <section class="main__designed-for">
      <h2>Designed for the full journey</h2>
      <h3>Organisation design</h3>
      <h3>Smart contract development</h3>
      <h3>Fundraising</h3>
      <h3>Launch marketing</h3>
      <h3>Member onboarding</h3>
      <h3>Contributor management</h3>
      <h3>DAO operations</h3>
    </section>
    <section class="main__all-tools">
      <h2>All the tools in one app</h2>
      <button>NFT membership</button>
      <button>Member directory</button>
      <button>Treasury</button>
      <button>Feed</button>
      <button>Governance</button>
      <button>App store</button>
      <img src="/images/app-screenshot.png" alt="App screenshot">
      <button><img src="/images/lil-pic.png" alt="Litle picture">Watch video</button>
    </section>
    <section class="main__works-with">
      <h2>Works with</h2>
      <ul class="works-with__cards">
        <li><img src="/images/works-with-icons/ethereum-icon.png" alt="Ethereum"><p>Ethereum</p></li>
        <li><img src="/images/works-with-icons/polygon-icon.png" alt="Polygon"><p>Polygon</p></li>
        <li><img src="/images/works-with-icons/gnosis-safe-icon.png" alt="Gnosis Safe"><p>Gnosis Safe</p></li>
        <li><img src="/images/works-with-icons/snapshot-icon.png" alt="Snapshot"><p>Snapshot</p></li>
        <li><img src="/images/works-with-icons/ENS-icon.png" alt="ENS"><p>ENS</p></li>
        <li><img src="/images/works-with-icons/opensea-icon.png" alt="OpenSea"><p>OpenSea</p></li>
      </ul>
    </section>
    <section class="main__help-at">
      <h2>Help at every step</h2>
      <div class="help-at__people-images">
        <img src="/images/people-images/gui-1.png" alt="Gui 1">
        <img src="/images/people-images/gui-2.png" alt="Gui 2">
        <img src="/images/people-images/gui-3.png" alt="Gui 3">
        <img src="/images/people-images/gui-4.png" alt="Gui 4">
        <img src="/images/people-images/gui-5.png" alt="Gui 5">
      </div>
      <ul class="help-at__advantages">
        <li><p>Success managers</p></li>
        <li><p>Knowledge base</p></li>
        <li><p>Chat support</p></li>
        <li><p>Tutorials</p></li>
        <li><p>Templates</p></li>
        <li><p>Smart Contract development</p></li>
        <li><p>Events</p></li>
        <li><p>Education</p></li>
        <li><p>Guides</p></li>
      </ul>
    </section>
    <section class="main__weekly-digest">
      <h2>Weekly digest</h2>
      <h3>Latest news in DAOs and Web3</h3>
      <form action="#"><!--whatafaq-->
        <label for="sub__email">
          <span>email input</span>
          <input type="email" name="email" id="sub__email" placeholder="Your email">
        </label>
        <button type="submit">Subscribe</button>
      </form>
    </section>
    <section class="main__backed-by">
      <h2>Backed by</h2>
      <ul>
        <li><img src="/images/baked-dy-logo/alliance-logo.svg" alt="Alliance"></li>
        <li><img src="/images/baked-dy-logo/digital-logo.svg" alt="Digital"></li>
        <li><img src="/images/baked-dy-logo/one-block-logo.svg" alt="One block"></li>
        <li><img src="/images/baked-dy-logo/fika-logo.svg" alt="Fika"></li>
        <li><img src="/images/baked-dy-logo/pear-logo.svg" alt="Pear"></li>
        <li><img src="/images/baked-dy-logo/shima-capital-logo.svg" alt="Shima capital"></li>
        <li><img src="/images/baked-dy-logo/great-oaks-logo.svg" alt="Great oaks"></li>
        <li><img src="/images/baked-dy-logo/norwest-logo.svg" alt="Norwest"></li>
        <li><img src="/images/baked-dy-logo/fifty-years-logo.svg" alt="Fifty years"></li>
        <li><img src="/images/baked-dy-logo/circle-logo.svg" alt="Circle"></li>
        <li><img src="/images/baked-dy-logo/protocol-labs-logo.svg" alt="Protocol labs"></li>
        <li><img src="/images/baked-dy-logo/venturesouo-logo.svg" alt="Venturesouo"></li>
      </ul>
    </section>
    <section class="main__press">
      <h2>Press</h2>
      <a href="#">See all</a>
      <ul class="press__cards">
        <li>
          <img src="/images/press-companys/decrypt-logo.png" alt="Decrypt">
          <h3>Superdao Raises $10.5 Million to Build an 'All-in-One' DAO Platform</h3>
          <p>Superdao aims to make it easier for online communities to build and launch DAOs</p>
          <a href="#">Read</a>
        </li>
        <li>
          <img src="/images/press-companys/blockworks-logo.png" alt="Blockworks">
          <h3>The Y Combinator of Web3 Attracts Record Number of DAO Startups</h3>
          <p>DAOs and related startups made up an “overwhelming number of applicants” for a Web3 accelerator's cohort this year</p>
          <a href="#">Read</a>
        </li>
        <li>
          <img src="/images/press-companys/techcrunh-logo.png" alt="TechCrunch">
          <h3>VC-backed DAO startups are racing to define what DAOs actually are</h3>
          <p>Not all 'decentralized autonomous organizations' are autonomous... or decentralized</p>
          <a href="#">Read</a>
        </li>
      </ul>
    </section>
    <section class="main__prodcast">
      <h2>Podсasts</h2>
      <a href="#">See all</a>
      <ul class="prodcast__cards">
        <li>
          <img src="/images/podcast-logo/pomp-podcast-logo.png" alt="The Pomp Podcast">
          <h3>Understanding DAOs with Yury Lifshits</h3>
          <p>The Pomp Podcast</p>
          <p>by Anthony Pompliano</p>
          <a href="#">Listen</a>
        </li>
        <li>
          <img src="/images/podcast-logo/unstoppable-podcast-logo.png" alt="The Unstoppable Podcast">
          <h3>Everything You Need to Know About DAOs with Yury Lifshits from Superdao</h3>
          <p>The Unstoppable Podcast</p>
          <p>by Josh Gordon</p>
          <a href="#">Watch</a>
        </li>
        <li>
          <img src="/images/podcast-logo/zima-red-logo.png" alt="Zima Red">
          <h3>Yury Lifshits - Superdao: The “Shopify” for DAOs</h3>
          <p>Zima Red</p>
          <p>by Andrew Stainwold</p>
          <a href="#">Listen</a>
        </li>
      </ul>
    </section>
    
  </main>
  <footer class="footer">
      <div class="container">
        <a href="#"><img src="/images/main-logo/superdao-logo.svg" alt="Superdao"></a>
        <nav class="footer__nav">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </nav>
        <div class="footer__links">
          <a href="#"><img src="/images/links-logo/twitter-logo.png" alt="Twitter"></a>
          <a href="#"><img src="/images/links-logo/telegram-logo.png" alt="Telegram"></a>
          <a href="#"><img src="/images/links-logo/youtube-logo.png" alt="YouTube"></a>
          <a href="#"><img src="/images/links-logo/discord-logo.png" alt="Dicsord"></a>
        </div>
      </div>
  </footer>
</body>
</html>