.grid-container-1 {
  margin: 0 0 0 -8%;
  list-style-type: none;
  display: grid;
  grid-template-areas:
  'red-1    red-1     red-1    gray-1  gray-2  gray-3'
  'white-1  gray-4    gray-4   gray-5  gray-5  gray-6'
  'white-1  gray-7    gray-7   blue-1  blue-1  gray-6'
  'white-1  black-1   black-1  blue-1  blue-1  yellow-1'
  'white-1  yellow-2  gray-8   red-2   red-2   yellow-1'
  'white-1  yellow-2  gray-8   red-2   red-2   gray-9';
  grid-auto-columns: 1fr;
  grid-auto-rows: 135px;
  clip-path: inset(10px 10% 10px 18.37% round 35px);
}
.grid-container-1 .fill-block {
  border: 7px solid black;
}
.gray-1, .gray-2, .gray-3, .gray-4, .gray-5, .gray-6, .gray-7, .gray-8, .gray-9 {
  background: #f3f3f3;
}
.red-1, .red-2 {
  background: #d50605;
}
.yellow-1, .yellow-2 {
  background: #e6cc01;
}
.blue-1 {
  background: #0062a8;
}
.black-1 {
  background: black;
}
.white-1 {
  background: white;
}
.gray-1 {
  grid-area: gray-1;
}
.gray-2 {
  grid-area: gray-2;
}
.gray-3 {
  grid-area: gray-3;
}
.gray-4 {
  grid-area: gray-4;
}
.gray-5 {
  grid-area: gray-5;
}
.gray-6 {
  grid-area: gray-6;
}
.gray-7 {
  grid-area: gray-7;
}
.gray-8 {
  grid-area: gray-8;
}
.gray-9 {
  grid-area: gray-9;
}
.red-1 {
  grid-area: red-1;
}
.red-2 {
  grid-area: red-2;
}
.yellow-1 {
  grid-area: yellow-1;
}
.yellow-2 {
  grid-area: yellow-2;
}
.blue-1 {
  grid-area: blue-1;
}
.black-1 {
  grid-area: black-1;
}
.white-1 {
  grid-area: white-1;
}



.grid-container-2 {
  margin: 50px;
  background: rgb(158, 240, 99);
  border-radius: 50px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-container-2 .dashboard {
  background: aquamarine;
  grid-column: 1;
}
.grid-container-2 .graphic-board {
  grid-column: 2 / 7;
  margin: 25px;
  display: grid;
  grid-template-areas: 
  'graphic-1 graphic-1 graphic-1 graphic-1 graphic-1 graphic-1'
  'graphic-2 graphic-2 graphic-3 graphic-3 graphic-4 graphic-4'
  'graphic-5 graphic-5 graphic-5 graphic-6 graphic-6 graphic-6';
  grid-auto-rows: 29vh;
  gap: 20px 75px;
}
.grid-container-2 .graphic {
  background: rgb(255, 255, 255);
  border-radius: 25px;
  overflow: hidden;
}
.grid-container-2 .graphic-1 {
  grid-area: graphic-1;
}
.grid-container-2 .graphic-2 {
  grid-area: graphic-2;
}
.grid-container-2 .graphic-3 {
  grid-area: graphic-3;
}
.grid-container-2 .graphic-4 {
  grid-area: graphic-4;
}
.grid-container-2 .graphic-5 {
  grid-area: graphic-5;
}
.grid-container-2 .graphic-6 {
  grid-area: graphic-6;
}
.grid-container-2 .magicpattern-1 { 
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 1500 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1000h19.048V308.513q0-2-2-2H2q-2 0-2 2ZM23.81 1000h19.047V787.292q0-2-2-2H25.81q-2 0-2 2ZM47.619 1000h19.048V201.176q0-2-2-2H49.619q-2 0-2 2ZM71.429 1000h19.047V425.545q0-2-2-2H73.43q-2 0-2 2ZM95.238 1000h19.048V369.714q0-2-2-2H97.238q-2 0-2 2ZM119.048 1000h19.047V681.162q0-2-2-2h-15.047q-2 0-2 2ZM142.857 1000h19.048V105.542q0-2-2-2h-15.048q-2 0-2 2ZM166.667 1000h19.047V114.73q0-2-2-2h-15.047q-2 0-2 2ZM190.476 1000h19.048V472.18q0-2-2-2h-15.048q-2 0-2 2ZM214.286 1000h19.047V471.808q0-2-2-2h-15.047q-2 0-2 2ZM238.095 1000h19.048V420.813q0-2-2-2h-15.048q-2 0-2 2ZM261.905 1000h19.047V389.65q0-2-2-2h-15.047q-2 0-2 2ZM285.714 1000h19.048V219.966q0-2-2-2h-15.048q-2 0-2 2ZM309.524 1000h19.047V301.165q0-2-2-2h-15.047q-2 0-2 2ZM333.333 1000h19.048V298.18q0-2-2-2h-15.048q-2 0-2 2ZM357.143 1000h19.047V391.75q0-2-2-2h-15.047q-2 0-2 2ZM380.952 1000H400V747.48q0-2-2-2h-15.048q-2 0-2 2ZM404.762 1000h19.048V376.987q0-2-2-2h-15.048q-2 0-2 2ZM428.571 1000h19.048V729.36q0-2-2-2h-15.048q-2 0-2 2ZM452.381 1000h19.048V486.14q0-2-2-2H454.38q-2 0-2 2ZM476.19 1000h19.048V324.993q0-2-2-2H478.19q-2 0-2 2ZM500 1000h19.048V311.532q0-2-2-2H502q-2 0-2 2ZM523.81 1000h19.047V339.813q0-2-2-2H525.81q-2 0-2 2ZM547.619 1000h19.048V773.012q0-2-2-2h-15.048q-2 0-2 2ZM571.429 1000h19.047V420.141q0-2-2-2H573.43q-2 0-2 2ZM595.238 1000h19.048V747.72q0-2-2-2h-15.048q-2 0-2 2ZM619.048 1000h19.047V340.184q0-2-2-2h-15.047q-2 0-2 2ZM642.857 1000h19.048V150.129q0-2-2-2h-15.048q-2 0-2 2ZM666.667 1000h19.047V168.96q0-2-2-2h-15.047q-2 0-2 2ZM690.476 1000h19.048V550.123q0-2-2-2h-15.048q-2 0-2 2ZM714.286 1000h19.047V129.048q0-2-2-2h-15.047q-2 0-2 2ZM738.095 1000h19.048V572.697q0-2-2-2h-15.048q-2 0-2 2ZM761.905 1000h19.047V777.232q0-2-2-2h-15.047q-2 0-2 2ZM785.714 1000h19.048V400.2q0-2-2-2h-15.048q-2 0-2 2ZM809.524 1000h19.047V722.729q0-2-2-2h-15.047q-2 0-2 2ZM833.333 1000h19.048V281.603q0-2-2-2h-15.048q-2 0-2 2ZM857.143 1000h19.047V139.375q0-2-2-2h-15.047q-2 0-2 2ZM880.952 1000H900V561.83q0-2-2-2h-15.048q-2 0-2 2ZM904.762 1000h19.048V146.977q0-2-2-2h-15.048q-2 0-2 2ZM928.571 1000h19.048V348.525q0-2-2-2h-15.048q-2 0-2 2ZM952.381 1000h19.048V579.455q0-2-2-2H954.38q-2 0-2 2ZM976.19 1000h19.048V138.189q0-2-2-2H978.19q-2 0-2 2ZM1000 1000h19.048V596.88q0-2-2-2H1002q-2 0-2 2ZM1023.81 1000h19.047V278.343q0-2-2-2h-15.047q-2 0-2 2ZM1047.619 1000h19.048V521.93q0-2-2-2h-15.048q-2 0-2 2ZM1071.429 1000h19.047V257.229q0-2-2-2h-15.047q-2 0-2 2ZM1095.238 1000h19.048V471.334q0-2-2-2h-15.048q-2 0-2 2ZM1119.048 1000h19.047V165.235q0-2-2-2h-15.047q-2 0-2 2ZM1142.857 1000h19.048V296.196q0-2-2-2h-15.048q-2 0-2 2ZM1166.667 1000h19.047V327.489q0-2-2-2h-15.047q-2 0-2 2ZM1190.476 1000h19.048V746.022q0-2-2-2h-15.048q-2 0-2 2ZM1214.286 1000h19.047V779.207q0-2-2-2h-15.047q-2 0-2 2ZM1238.095 1000h19.048V526.28q0-2-2-2h-15.048q-2 0-2 2ZM1261.905 1000h19.047V712.577q0-2-2-2h-15.047q-2 0-2 2ZM1285.714 1000h19.048V538.137q0-2-2-2h-15.048q-2 0-2 2ZM1309.524 1000h19.047V521.68q0-2-2-2h-15.047q-2 0-2 2ZM1333.333 1000h19.048V142.235q0-2-2-2h-15.048q-2 0-2 2ZM1357.143 1000h19.047V257.74q0-2-2-2h-15.047q-2 0-2 2ZM1380.952 1000H1400V207.705q0-2-2-2h-15.048q-2 0-2 2ZM1404.762 1000h19.048V322.33q0-2-2-2h-15.048q-2 0-2 2ZM1428.571 1000h19.048V151.777q0-2-2-2h-15.048q-2 0-2 2ZM1452.381 1000h19.048V404.268q0-2-2-2h-15.048q-2 0-2 2ZM1476.19 1000h19.048V669.408q0-2-2-2h-15.048q-2 0-2 2Z%22 fill=%22%23444cf7%22%2F%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-2 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 200 150%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 148.295c2.6-.893 7.8-2.271 13-4.464 5.2-2.192 7.8-2.868 13-6.499 5.2-3.63 7.8-8.202 13-11.653 5.2-3.45 7.8-4.113 13-5.6 5.2-1.488 7.8-2.26 13-1.836 5.2.424 7.8 6.843 13 3.954s7.8-12.18 13-18.398 7.8-7.673 13-12.695c5.2-5.021 7.8-11.2 13-12.414 5.2-1.214 7.8 10.112 13 6.343s7.8-24.602 13-25.186c5.2-.583 7.8 26.954 13 22.268 5.2-4.687 7.8-45.772 13-45.698 5.2.073 7.8 42.355 13 46.063 5.2 3.708 7.8-25.093 13-27.523 5.2-2.43 10.4 12.296 13 15.37L200 150H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 148.295c2.6-.893 7.8-2.271 13-4.464 5.2-2.192 7.8-2.868 13-6.499 5.2-3.63 7.8-8.202 13-11.653 5.2-3.45 7.8-4.113 13-5.6 5.2-1.488 7.8-2.26 13-1.836 5.2.424 7.8 6.843 13 3.954s7.8-12.18 13-18.398 7.8-7.673 13-12.695c5.2-5.021 7.8-11.2 13-12.414 5.2-1.214 7.8 10.112 13 6.343s7.8-24.602 13-25.186c5.2-.583 7.8 26.954 13 22.268 5.2-4.687 7.8-45.772 13-45.698 5.2.073 7.8 42.355 13 46.063 5.2 3.708 7.8-25.093 13-27.523 5.2-2.43 10.4 12.296 13 15.37%22 fill=%22none%22 stroke=%22%23444cf7%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%22148.295%22 r=%226%22%2F%3E%3Ccircle cx=%2213%22 cy=%22143.831%22 r=%226%22%2F%3E%3Ccircle cx=%2226%22 cy=%22137.332%22 r=%226%22%2F%3E%3Ccircle cx=%2239%22 cy=%22125.679%22 r=%226%22%2F%3E%3Ccircle cx=%2252%22 cy=%22120.079%22 r=%226%22%2F%3E%3Ccircle cx=%2265%22 cy=%22118.243%22 r=%226%22%2F%3E%3Ccircle cx=%2278%22 cy=%22122.197%22 r=%226%22%2F%3E%3Ccircle cx=%2291%22 cy=%22103.799%22 r=%226%22%2F%3E%3Ccircle cx=%22104%22 cy=%2291.104%22 r=%226%22%2F%3E%3Ccircle cx=%22117%22 cy=%2278.69%22 r=%226%22%2F%3E%3Ccircle cx=%22130%22 cy=%2285.033%22 r=%226%22%2F%3E%3Ccircle cx=%22143%22 cy=%2259.847%22 r=%226%22%2F%3E%3Ccircle cx=%22156%22 cy=%2282.115%22 r=%226%22%2F%3E%3Ccircle cx=%22169%22 cy=%2236.417%22 r=%226%22%2F%3E%3Ccircle cx=%22182%22 cy=%2282.48%22 r=%226%22%2F%3E%3Ccircle cx=%22195%22 cy=%2254.957%22 r=%226%22%2F%3E%3Ccircle cx=%22208%22 cy=%2270.327%22 r=%226%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-3 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1000h80v-.434q0-4-4-4H4q-4 0-4 4ZM100 1000h80v-32.711q0-4-4-4h-72q-4 0-4 4ZM200 1000h80v-65.491q0-4-4-4h-72q-4 0-4 4ZM300 1000h80V883.7q0-4-4-4h-72q-4 0-4 4ZM400 1000h80V884.49q0-4-4-4h-72q-4 0-4 4ZM500 1000h80V842.212q0-4-4-4h-72q-4 0-4 4ZM600 1000h80V783.291q0-4-4-4h-72q-4 0-4 4ZM700 1000h80V727.545q0-4-4-4h-72q-4 0-4 4ZM800 1000h80V650.516q0-4-4-4h-72q-4 0-4 4ZM900 1000h80V697.742q0-4-4-4h-72q-4 0-4 4ZM1000 1000h80V735.887q0-4-4-4h-72q-4 0-4 4ZM1100 1000h80V643.696q0-4-4-4h-72q-4 0-4 4ZM1200 1000h80V506.671q0-4-4-4h-72q-4 0-4 4ZM1300 1000h80V637.484q0-4-4-4h-72q-4 0-4 4ZM1400 1000h80V355.803q0-4-4-4h-72q-4 0-4 4ZM1500 1000h80V293.724q0-4-4-4h-72q-4 0-4 4ZM1600 1000h80V488.976q0-4-4-4h-72q-4 0-4 4ZM1700 1000h80V339.58q0-4-4-4h-72q-4 0-4 4ZM1800 1000h80V137.168q0-4-4-4h-72q-4 0-4 4ZM1900 1000h80V243.905q0-4-4-4h-72q-4 0-4 4Z%22 fill=%22%23444cf7%22%2F%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-4 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 12.152c14.2 1.647 42.6-3.5 71 8.235 28.4 11.734 42.6 40.788 71 50.434s42.6-9.713 71-2.204c28.4 7.51 42.6 24.986 71 39.75 28.4 14.766 42.6 28.534 71 34.075 28.4 5.54 42.6-15.766 71-6.37s42.6 42.586 71 53.35c28.4 10.765 42.6-23.74 71 .472 28.4 24.211 42.6 115.824 71 120.586 28.4 4.763 42.6-107.69 71-96.774 28.4 10.917 42.6 135.877 71 151.359s42.6-88.692 71-73.95c28.4 14.743 42.6 150.432 71 147.662 28.4-2.77 42.6-166.522 71-161.514 28.4 5.008 42.6 166.197 71 186.555 28.4 20.359 42.6-67.886 71-84.764 28.4-16.877 42.6-.663 71 .377s42.6 2.45 71 4.821c28.4 2.372 42.6-21.327 71 7.037 28.4 28.365 42.6 132.65 71 134.785 28.4 2.135 42.6-125.884 71-124.11 28.4 1.774 42.6 50.762 71 132.981s42.6 290.204 71 278.114c28.4-12.09 42.6-275.213 71-338.564s42.6-37.037 71 21.808c28.4 58.846 42.6 182.813 71 272.419s42.6 174.908 71 175.61c28.4.702 56.8-137.68 71-172.1L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 12.152c14.2 1.647 42.6-3.5 71 8.235 28.4 11.734 42.6 40.788 71 50.434s42.6-9.713 71-2.204c28.4 7.51 42.6 24.986 71 39.75 28.4 14.766 42.6 28.534 71 34.075 28.4 5.54 42.6-15.766 71-6.37s42.6 42.586 71 53.35c28.4 10.765 42.6-23.74 71 .472 28.4 24.211 42.6 115.824 71 120.586 28.4 4.763 42.6-107.69 71-96.774 28.4 10.917 42.6 135.877 71 151.359s42.6-88.692 71-73.95c28.4 14.743 42.6 150.432 71 147.662 28.4-2.77 42.6-166.522 71-161.514 28.4 5.008 42.6 166.197 71 186.555 28.4 20.359 42.6-67.886 71-84.764 28.4-16.877 42.6-.663 71 .377s42.6 2.45 71 4.821c28.4 2.372 42.6-21.327 71 7.037 28.4 28.365 42.6 132.65 71 134.785 28.4 2.135 42.6-125.884 71-124.11 28.4 1.774 42.6 50.762 71 132.981s42.6 290.204 71 278.114c28.4-12.09 42.6-275.213 71-338.564s42.6-37.037 71 21.808c28.4 58.846 42.6 182.813 71 272.419s42.6 174.908 71 175.61c28.4.702 56.8-137.68 71-172.1%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%2212.152%22 r=%2212%22%2F%3E%3Ccircle cx=%2271%22 cy=%2220.387%22 r=%2212%22%2F%3E%3Ccircle cx=%22142%22 cy=%2270.821%22 r=%2212%22%2F%3E%3Ccircle cx=%22213%22 cy=%2268.617%22 r=%2212%22%2F%3E%3Ccircle cx=%22284%22 cy=%22108.368%22 r=%2212%22%2F%3E%3Ccircle cx=%22355%22 cy=%22142.442%22 r=%2212%22%2F%3E%3Ccircle cx=%22426%22 cy=%22136.072%22 r=%2212%22%2F%3E%3Ccircle cx=%22497%22 cy=%22189.423%22 r=%2212%22%2F%3E%3Ccircle cx=%22568%22 cy=%22189.894%22 r=%2212%22%2F%3E%3Ccircle cx=%22639%22 cy=%22310.48%22 r=%2212%22%2F%3E%3Ccircle cx=%22710%22 cy=%22213.706%22 r=%2212%22%2F%3E%3Ccircle cx=%22781%22 cy=%22365.065%22 r=%2212%22%2F%3E%3Ccircle cx=%22852%22 cy=%22291.115%22 r=%2212%22%2F%3E%3Ccircle cx=%22923%22 cy=%22438.777%22 r=%2212%22%2F%3E%3Ccircle cx=%22994%22 cy=%22277.263%22 r=%2212%22%2F%3E%3Ccircle cx=%221065%22 cy=%22463.818%22 r=%2212%22%2F%3E%3Ccircle cx=%221136%22 cy=%22379.054%22 r=%2212%22%2F%3E%3Ccircle cx=%221207%22 cy=%22379.431%22 r=%2212%22%2F%3E%3Ccircle cx=%221278%22 cy=%22384.252%22 r=%2212%22%2F%3E%3Ccircle cx=%221349%22 cy=%22391.289%22 r=%2212%22%2F%3E%3Ccircle cx=%221420%22 cy=%22526.074%22 r=%2212%22%2F%3E%3Ccircle cx=%221491%22 cy=%22401.964%22 r=%2212%22%2F%3E%3Ccircle cx=%221562%22 cy=%22534.945%22 r=%2212%22%2F%3E%3Ccircle cx=%221633%22 cy=%22813.059%22 r=%2212%22%2F%3E%3Ccircle cx=%221704%22 cy=%22474.495%22 r=%2212%22%2F%3E%3Ccircle cx=%221775%22 cy=%22496.303%22 r=%2212%22%2F%3E%3Ccircle cx=%221846%22 cy=%22768.722%22 r=%2212%22%2F%3E%3Ccircle cx=%221917%22 cy=%22944.332%22 r=%2212%22%2F%3E%3Ccircle cx=%221988%22 cy=%22772.232%22 r=%2212%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-5 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 296.194c14.2 15.91 42.6 66.818 71 79.553s42.6-35.516 71-15.879 42.6 141.928 71 114.063c28.4-27.865 42.6-200.118 71-253.388 28.4-53.27 42.6-15.805 71-12.964 28.4 2.842 42.6-82.55 71 27.173 28.4 109.724 42.6 438.247 71 521.446 28.4 83.2 42.6 23.655 71-105.451 28.4-129.107 42.6-561.669 71-540.081 28.4 21.587 42.6 566.678 71 648.018 28.4 81.34 42.6-208.863 71-241.316s42.6 147.275 71 79.051c28.4-68.223 42.6-417.608 71-420.17 28.4-2.561 42.6 291.78 71 407.362 28.4 115.582 42.6 239.707 71 170.551 28.4-69.155 42.6-484.08 71-516.329 28.4-32.249 42.6 282.317 71 355.082 28.4 72.765 42.6 5.806 71 8.745 28.4 2.94 42.6 44.744 71 5.953 28.4-38.792 42.6-189.755 71-199.912 28.4-10.156 42.6 122.174 71 149.128 28.4 26.954 42.6 60.337 71-14.357s42.6-288.102 71-359.112c28.4-71.01 42.6-49.309 71 4.064 28.4 53.374 42.6 183.013 71 262.802 28.4 79.79 42.6 205.027 71 136.145 28.4-68.882 42.6-483.882 71-480.554 28.4 3.328 56.8 397.754 71 497.193l12 396.99H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 296.194c14.2 15.91 42.6 66.818 71 79.553s42.6-35.516 71-15.879 42.6 141.928 71 114.063c28.4-27.865 42.6-200.118 71-253.388 28.4-53.27 42.6-15.805 71-12.964 28.4 2.842 42.6-82.55 71 27.173 28.4 109.724 42.6 438.247 71 521.446 28.4 83.2 42.6 23.655 71-105.451 28.4-129.107 42.6-561.669 71-540.081 28.4 21.587 42.6 566.678 71 648.018 28.4 81.34 42.6-208.863 71-241.316s42.6 147.275 71 79.051c28.4-68.223 42.6-417.608 71-420.17 28.4-2.561 42.6 291.78 71 407.362 28.4 115.582 42.6 239.707 71 170.551 28.4-69.155 42.6-484.08 71-516.329 28.4-32.249 42.6 282.317 71 355.082 28.4 72.765 42.6 5.806 71 8.745 28.4 2.94 42.6 44.744 71 5.953 28.4-38.792 42.6-189.755 71-199.912 28.4-10.156 42.6 122.174 71 149.128 28.4 26.954 42.6 60.337 71-14.357s42.6-288.102 71-359.112c28.4-71.01 42.6-49.309 71 4.064 28.4 53.374 42.6 183.013 71 262.802 28.4 79.79 42.6 205.027 71 136.145 28.4-68.882 42.6-483.882 71-480.554 28.4 3.328 56.8 397.754 71 497.193%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%22296.194%22 r=%2212%22%2F%3E%3Ccircle cx=%2271%22 cy=%22375.747%22 r=%2212%22%2F%3E%3Ccircle cx=%22142%22 cy=%22359.868%22 r=%2212%22%2F%3E%3Ccircle cx=%22213%22 cy=%22473.931%22 r=%2212%22%2F%3E%3Ccircle cx=%22284%22 cy=%22220.543%22 r=%2212%22%2F%3E%3Ccircle cx=%22355%22 cy=%22207.579%22 r=%2212%22%2F%3E%3Ccircle cx=%22426%22 cy=%22234.752%22 r=%2212%22%2F%3E%3Ccircle cx=%22497%22 cy=%22756.198%22 r=%2212%22%2F%3E%3Ccircle cx=%22568%22 cy=%22650.747%22 r=%2212%22%2F%3E%3Ccircle cx=%22639%22 cy=%22110.666%22 r=%2212%22%2F%3E%3Ccircle cx=%22710%22 cy=%22758.684%22 r=%2212%22%2F%3E%3Ccircle cx=%22781%22 cy=%22517.368%22 r=%2212%22%2F%3E%3Ccircle cx=%22852%22 cy=%22596.419%22 r=%2212%22%2F%3E%3Ccircle cx=%22923%22 cy=%22176.25%22 r=%2212%22%2F%3E%3Ccircle cx=%22994%22 cy=%22583.611%22 r=%2212%22%2F%3E%3Ccircle cx=%221065%22 cy=%22754.162%22 r=%2212%22%2F%3E%3Ccircle cx=%221136%22 cy=%22237.833%22 r=%2212%22%2F%3E%3Ccircle cx=%221207%22 cy=%22592.915%22 r=%2212%22%2F%3E%3Ccircle cx=%221278%22 cy=%22601.66%22 r=%2212%22%2F%3E%3Ccircle cx=%221349%22 cy=%22607.613%22 r=%2212%22%2F%3E%3Ccircle cx=%221420%22 cy=%22407.701%22 r=%2212%22%2F%3E%3Ccircle cx=%221491%22 cy=%22556.829%22 r=%2212%22%2F%3E%3Ccircle cx=%221562%22 cy=%22542.472%22 r=%2212%22%2F%3E%3Ccircle cx=%221633%22 cy=%22183.36%22 r=%2212%22%2F%3E%3Ccircle cx=%221704%22 cy=%22187.424%22 r=%2212%22%2F%3E%3Ccircle cx=%221775%22 cy=%22450.226%22 r=%2212%22%2F%3E%3Ccircle cx=%221846%22 cy=%22586.371%22 r=%2212%22%2F%3E%3Ccircle cx=%221917%22 cy=%22105.817%22 r=%2212%22%2F%3E%3Ccircle cx=%221988%22 cy=%22603.01%22 r=%2212%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.grid-container-2 .magicpattern-6 { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 641.972c14.2 8.635 42.6 95.747 71 43.171 28.4-52.575 42.6-241.776 71-306.05 28.4-64.273 42.6-30.137 71-15.319s42.6 7.487 71 89.408 42.6 377.97 71 320.199c28.4-57.771 42.6-546.933 71-609.054 28.4-62.12 42.6 267.286 71 298.45 28.4 31.162 42.6-108.24 71-142.636s42.6-64.25 71-29.346c28.4 34.903 42.6 103.566 71 203.865 28.4 100.3 42.6 331.441 71 297.629 28.4-33.813 42.6-409.913 71-466.691 28.4-56.778 42.6 179.227 71 182.803 28.4 3.576 42.6-221.014 71-164.923 28.4 56.09 42.6 434.68 71 445.374 28.4 10.693 42.6-265.174 71-391.91 28.4-126.734 42.6-320.85 71-241.765 28.4 79.085 42.6 545.612 71 637.19 28.4 91.577 42.6-66.18 71-179.302 28.4-113.122 42.6-308.013 71-386.307 28.4-78.293 42.6-14.067 71-5.16s42.6 59.232 71 49.697c28.4-9.535 42.6-72.726 71-97.371 28.4-24.646 42.6-116.76 71-25.855s42.6 393.704 71 480.38c28.4 86.677 42.6-7.732 71-47s42.6-60.275 71-149.34c28.4-89.063 56.8-236.784 71-295.98L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 641.972c14.2 8.635 42.6 95.747 71 43.171 28.4-52.575 42.6-241.776 71-306.05 28.4-64.273 42.6-30.137 71-15.319s42.6 7.487 71 89.408 42.6 377.97 71 320.199c28.4-57.771 42.6-546.933 71-609.054 28.4-62.12 42.6 267.286 71 298.45 28.4 31.162 42.6-108.24 71-142.636s42.6-64.25 71-29.346c28.4 34.903 42.6 103.566 71 203.865 28.4 100.3 42.6 331.441 71 297.629 28.4-33.813 42.6-409.913 71-466.691 28.4-56.778 42.6 179.227 71 182.803 28.4 3.576 42.6-221.014 71-164.923 28.4 56.09 42.6 434.68 71 445.374 28.4 10.693 42.6-265.174 71-391.91 28.4-126.734 42.6-320.85 71-241.765 28.4 79.085 42.6 545.612 71 637.19 28.4 91.577 42.6-66.18 71-179.302 28.4-113.122 42.6-308.013 71-386.307 28.4-78.293 42.6-14.067 71-5.16s42.6 59.232 71 49.697c28.4-9.535 42.6-72.726 71-97.371 28.4-24.646 42.6-116.76 71-25.855s42.6 393.704 71 480.38c28.4 86.677 42.6-7.732 71-47s42.6-60.275 71-149.34c28.4-89.063 56.8-236.784 71-295.98%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%22641.972%22 r=%2212%22%2F%3E%3Ccircle cx=%2271%22 cy=%22685.143%22 r=%2212%22%2F%3E%3Ccircle cx=%22142%22 cy=%22379.093%22 r=%2212%22%2F%3E%3Ccircle cx=%22213%22 cy=%22363.774%22 r=%2212%22%2F%3E%3Ccircle cx=%22284%22 cy=%22453.182%22 r=%2212%22%2F%3E%3Ccircle cx=%22355%22 cy=%22773.381%22 r=%2212%22%2F%3E%3Ccircle cx=%22426%22 cy=%22164.327%22 r=%2212%22%2F%3E%3Ccircle cx=%22497%22 cy=%22462.776%22 r=%2212%22%2F%3E%3Ccircle cx=%22568%22 cy=%22320.141%22 r=%2212%22%2F%3E%3Ccircle cx=%22639%22 cy=%22290.795%22 r=%2212%22%2F%3E%3Ccircle cx=%22710%22 cy=%22494.66%22 r=%2212%22%2F%3E%3Ccircle cx=%22781%22 cy=%22792.289%22 r=%2212%22%2F%3E%3Ccircle cx=%22852%22 cy=%22325.598%22 r=%2212%22%2F%3E%3Ccircle cx=%22923%22 cy=%22508.401%22 r=%2212%22%2F%3E%3Ccircle cx=%22994%22 cy=%22343.478%22 r=%2212%22%2F%3E%3Ccircle cx=%221065%22 cy=%22788.852%22 r=%2212%22%2F%3E%3Ccircle cx=%221136%22 cy=%22396.943%22 r=%2212%22%2F%3E%3Ccircle cx=%221207%22 cy=%22155.177%22 r=%2212%22%2F%3E%3Ccircle cx=%221278%22 cy=%22792.367%22 r=%2212%22%2F%3E%3Ccircle cx=%221349%22 cy=%22613.065%22 r=%2212%22%2F%3E%3Ccircle cx=%221420%22 cy=%22226.758%22 r=%2212%22%2F%3E%3Ccircle cx=%221491%22 cy=%22221.598%22 r=%2212%22%2F%3E%3Ccircle cx=%221562%22 cy=%22271.295%22 r=%2212%22%2F%3E%3Ccircle cx=%221633%22 cy=%22173.924%22 r=%2212%22%2F%3E%3Ccircle cx=%221704%22 cy=%22148.069%22 r=%2212%22%2F%3E%3Ccircle cx=%221775%22 cy=%22628.45%22 r=%2212%22%2F%3E%3Ccircle cx=%221846%22 cy=%22581.449%22 r=%2212%22%2F%3E%3Ccircle cx=%221917%22 cy=%22432.11%22 r=%2212%22%2F%3E%3Ccircle cx=%221988%22 cy=%22136.129%22 r=%2212%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}



.grid-container-3 {
  margin: 50px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 355px;
}
.grid-container-3 .card{
  display: grid;
  justify-content: center;
  align-items: center;
}
.grid-container-3 .card a {
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', fantasy;
  font-size: 48px;
  color: rgb(60, 0, 255);
  text-decoration: none;
  border-radius: 15px;
}
.grid-container-3 .card-1 {
  background-image: url('../img/1.jpg');
  background-size: 100%;
}
.grid-container-3 .card-2 {
  background-image: url('../img/2.jpg');
  background-size: 100%;
}
.grid-container-3 .card-3 {
  background-image: url('../img/3.jpg');
  background-size: 100%;
}
.grid-container-3 .card-4 {
  background-image: url('../img/4.jpg');
  background-size: 100%;
}
.grid-container-3 .card-5 {
  background-image: url('../img/5.jpg');
  background-size: 100%;
}
.grid-container-3 .card-6 {
  background-image: url('../img/6.jpg');
  background-size: 100%;
}
.grid-container-3 .card-7 {
  background-image: url('../img/7.jpg');
  background-size: 100%;
}
.grid-container-3 .card-8 {
  background-image: url('../img/8.jpg');
  background-size: 100%;
}
.grid-container-3 .card-9 {
  background-image: url('../img/9.jpg');
  background-size: 100%;
}
.grid-container-3 .card-10 {
  background-image: url('../img/4.jpg');
  background-size: 100%;
}
.grid-container-3 .card-11 {
  background-image: url('../img/3.jpg');
  background-size: 100%;
}
.grid-container-3 .card-12 {
  background-image: url('../img/6.jpg');
  background-size: 100%;
}